.footer_container{
    width:100%;
    height: 364px;
    background:#303846 ;
    color: #f6f7f8;
    padding: 34px;
    
}
.cont1{
    height: 296px;
    margin: 0 187px;
    padding: 0 17px;
  
}

.cont2{
    
    
    display: flex;
    justify-content: space-around;
}
.foot_col1,.foot_col2,.foot_col3{
    width: 380px;
    height: 174px;
    padding: 0 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}
.foot_col1 ul,.foot_col2 ul,.foot_col3 ul{
    padding: 0;
}
.foot_col1 li,.foot_col2 li,.foot_col3 li{
    font-weight: 400;
    line-height: 2.0;
}
.foot_col1 h4,.foot_col2 h4,.foot_col3 h4{
    margin: 0 0 17px;
}
.footer_img{
    width: 1106px ;
    height: 69px;
    text-align: center;
    font-size: 17px;
    margin:  0 0 9px;
}
.oss_img{
    width: 170px;
    height: 45px;
    margin: 34px 0 0;

}
.bottom{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    width: 1106px ;
    height: 28px;
    text-align: center;
    margin:30px 0 0 0;

}
@media screen and (max-width:796px){
    .footer_container{
        height: 612px;
        margin-top:auto;
        padding: 30px 0;
    }
    .cont1{
        margin: 0;
        padding: 0px;
    }
    .cont2{ 
           
            display: block;
            margin: 0 ;
            height: 444px;
    }
    .foot_col1{
        height:93px;
    }
    .foot_col2{
        height: 150px;
    }
    .foot_col3{
        height: 63px;
    }
    .foot_col1,.foot_col2,.foot_col3{
        padding: 0 15px;
        margin: 0 0 45px;
        font-size: 15px;
        width:100%;
    }
    .foot_col1 li,.foot_col2 li,.foot_col3 li{
        font-size:15px;
    }
    
    .foot_col1 h4,.foot_col2 h4,.foot_col3 h4{
        margin: 0 0 15px;
    }
    .footer_img{
        width: 100%;
        align-items: center;
    }
    .oss_img{
        width:150px;
        height: 39.7px;
        margin: 15px 0 0;
    }
    .bottom{
        width: 100%;
        align-items: center;
        margin:15px 0 0 ;
        font-size:15px;
    }
}