*{box-sizing: border-box;
margin:0;

}
  li ,a{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        font-size:17px;
        color:#f6f7f8 ;
        text-decoration: none;
        list-style-type: none;
       
  }

nav{
    width:100%;
    height: 64px;
    padding: 8.5px 17px;
    background-color:#312f2f;
    position: sticky;
    top:0;
}
.innernav{
    height: 46px;
    display: flex;
    flex: 1;
    justify-content:space-between;
    line-height: 0px;
    align-items: center;
  }
 .logo{
      width:36px;
      height: 34px;
      margin:  0  8.5px 0 0;
    
  }
 #create{
      margin:0px 10px;
      
  }
 #left_side a{
    align-items: center;
    color: #f6f7f8;
    display: flex;
    font-weight: 700;
    height: 2rem;
    margin-right: 1rem;
  }
  .button1{
      visibility: hidden;
      padding: 0;
      margin: 0;
  }

#right_side{
    display: inline;
    width:926px;
}
#right_side li{
    float: left;
    color:#f6f7f8;
    padding:  4px 17px;
    margin: 10px;
    color: black;
}
#right_side ul{
    float: right;
    align-items: center;
    line-height: 30px;

     
}
.side_navbar{
    visibility: hidden;
 }


/*---------------------------------------------------------------------*/
.slider{
    position: relative;
    top:15px;
    left:20px;
    right: 20px;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 10px 0 0 0;
}
input[type="checkbox"]
{
    position: relative;
    width: 50px;
    height: 24px;
    -webkit-appearance:none ;
    background:#4d4d4d;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: .5s;
}
 input:checked[type="checkbox"]
{
    background:#4d4d4d;
}
 
input[type="checkbox"]:before
{
    content: '';
    position:absolute;
    width:22px;
    height: 22px;
    border-radius:20px;
    top:1px;
    left:0;
    background: rgb(243, 239, 239);
    transform: scale(1.1);
    transition: .5s;
}
input:checked[type="checkbox"]:before{
    left: 27px;
}

.search-button{

    width:158px;
    height:36px;
    border-radius: 20px;
    text-align: center;
    outline: none;
    border:none;
    padding:0px ;
    font-size: 17px;
    background: #161414;
    color: azure;
}
.search{
    margin: 0px;
}
@media screen and (max-width:796px){

    .innernav{
        height: 46px;
        padding: 10px;
        background-color:#312f2f;
    }
    .nav_a{
        width:405px;
        height: 32px;
    }
    #right_side{
        visibility: hidden;
    }
    .button1{
        visibility: visible;
        border: 0;
       background:#312f2f;
       color:#f6f7f8;
       height: 36px;
        width:34px;
        cursor: pointer;
    }
 .side_navbar{
        height: 1334px;
        width:95%;
        visibility: visible;
        background:#312f2f;
        position: absolute;
        top:0;
        left: 0;
        transition-duration: 5s;

    }
    .slider1{
        margin:3px 5px;
    }

    .side_nav_a{
        padding: 10px;
        height:46px;
        display: flex;
        background: #3b3a3a;
    }
    .logo1{
        width:36px;
        height: 34px;
        margin:  0 8.5px 0 0;
    }
    #create1{
        margin:0  0;
        padding: 5px;
        font-size: 15px;
        font-weight: 500;
    }
    .menu_bar{
            padding: 10px;
            margin-left: 20px;
            display: flex;
    }
    .menu_bar a{
        font-size: 10px;
    }
   
}